.frame{
    display: flex; /* 讓"下一層次"的項目水平排列 */
}
.left{
    flex: none; /* 固定配置 */
    width: 200px;
}
.right{
    display: flex; /* 讓"下一層次"的項目水平排列 */
    justify-content: flex-end; /* 水平對齊 */
    flex: auto; /* auto 自動填滿 */
}
.iteam{
    flex: none;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}
.welcome{
    display: flex;
    justify-content: center; /* 左右排列置中 */
    align-items: center; /* 上下排列置中 */
    height: 300px;
    background-color: gray;
}
.text{
    text-align: center; /* text文字置中 */
    width: 300px; 
    height: 40px;
    font-size: 30px;
    font-weight: bold;
}